.navbar {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--black);

    @media (max-width: 1024px) {
        min-width: 320px;
        align-self: stretch;
    }
}

.nav_menu {
    display: flex;
    align-items: flex-start;

    @media (max-width: 1024px) {
        display: none;
    }
}

.nav_menu_sm {
    display: none;

    @media (max-width: 1024px) {
        display: flex;
        align-items: flex-start;
    }
}


.nav_menu_right {
    border-left: 1px solid var(--black);
}

.nav_menu_right_sm {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        border-left: 1px solid var(--black);
    }
}

.nav_link {
    display: flex;
    width: 180px;
    padding: 32px 24px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--black);
}

.nav_link_sm {
    display: none;
    @media (max-width: 1024px) {
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        border-right: 1px solid var(--black);
    }
}

.hamburger {
    width: 24px;
    height: 24px;
}